*{
    margin: 0;
    padding: 0;
}

.logo{
    width:9rem;
    height: 1.25rem;
    margin-top: 25px;
    margin-bottom: 35px;
}


.topbar{
    height: fit-content;
    margin-top: 1.1rem;;
    
}


.dashtop-left, .dashtop-right, .dashbottom-left{
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    height: 43vh;
}

@media  (min-width: 600px) and (max-width:900px){

    .logo{
        width:6rem ;
        
    }

   .a{
    width: 100%;
    align-self: flex-start;
   } 

   .dashtop-left{
    width:50%;
   }
   
   .dashtop-right{
    
    width:50%;
   }
   .lefttable, righttable{
    width:30%,
   }
}



.css-1qya5ar-MuiGrid-root{
    -webkit-flex-wrap: none;
    flex-wrap: none;
}

.css-1aqyr6c-MuiGrid-root {
    width:"80vw";
}


.css-46bh2p-MuiCardContent-root:last-child{
    padding-bottom: 15px;
}


