*{
    margin: 0;
    padding: 0;
}

.logo{
    width:9rem;
    height: 1.25rem;
    margin-top: 25px;
    margin-bottom: 35px;
}
.topbar{
    height: fit-content;
    margin-top: 20px;
    
}

.dashtop{
    /* background-color: red; */
}
.dashtop-left{
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
    border-radius: 5px;


}

@media  (min-width: 600px) and (max-width:900px){

    .logo{
        width:6rem ;
    }

    .topbar{
        margin-top: 26px;
        width:100%;
    }

   .a{
    width: 100%;
    align-self: flex-start;
   } 

   /* .dashtop-left-card-box{
    flex:1;
   } */
   /* .dashtop-left-card-desc{
    display: none;
   } */
    
}

.css-1qya5ar-MuiGrid-root{
    -webkit-flex-wrap: none;
    flex-wrap: none;
}

.css-1aqyr6c-MuiGrid-root {
    width:"80vw";
}


.css-46bh2p-MuiCardContent-root:last-child{
    padding-bottom: 15px;
}


